# Code Runner

**This jupyter notebook provides the interface to run 'create_tables.py' and 'etl.py' without explicitly using the terminal**

### Running create_tables.py and checking for errors

In [1]:
# %load create_tables.py
import configparser
import psycopg2
from sql_queries import create_table_queries, drop_table_queries


def drop_tables(cur, conn):
    '''This drops any existing tables so that we can execute the query. The list of tables dropped is in sql_queries.py We use cur and conn when accessing our PostGres SQL database'''
    for query in drop_table_queries:
        try:
            cur.execute(query)
            conn.commit()
        except psycopg2.Error as e:
            print('Error, not able to drop table'+ query)
            print(e)
    print("All of the tables have been successfully dropped")


   

def create_tables(cur, conn):
    '''This function creates the new staging and final tables: staging_events, staging_songs, songplays, users, songs, artists and time. We use cur and conn when accessing our PostGres SQL database. The list of created tables is found in sql_queries.py
    '''
    for query in create_table_queries:
        try:
            cur.execute(query)
            conn.commit()
        except psycopg2.Error as e:
            print('Error, unable to create the tables' + query)
            print(e)
    print('All of the tables have been created')


def main():
    '''Combining the drop_tables and create_tables functions into one. This drops old tables and creates new ones'''
    config = configparser.ConfigParser()
    config.read('dwh.cfg')

    conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values()))
    cur = conn.cursor()

    drop_tables(cur, conn)
    create_tables(cur, conn)

    conn.close()


if __name__ == "__main__":
    main()

All of the tables have been successfully dropped
All of the tables have been created

### Running etl.py and checking for errors

In [2]:
# %load etl.py
import configparser
import psycopg2
from sql_queries import copy_table_queries, insert_table_queries


def load_staging_tables(cur, conn):
    for query in copy_table_queries:
        cur.execute(query)
        conn.commit()


def insert_tables(cur, conn):
    for query in insert_table_queries:
        cur.execute(query)
        conn.commit()


def main():
    config = configparser.ConfigParser()
    config.read('dwh.cfg')

    conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values()))
    cur = conn.cursor()
    
    load_staging_tables(cur, conn)
    insert_tables(cur, conn)

    conn.close()


if __name__ == "__main__":
    main()

In [ ]:
#next thing to explore is to rename the vars in staging tables and see if that fixes things or first write to mentors

### Connecting to and exploring the data using inline SQL

In [9]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")
DWH_ENDPOINT           = config.get("CLUSTER", "HOST")

In [10]:
#loading inline SQL package
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [11]:
#Connecting via POSTGRES
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cfio1pzc2pmx.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

In [12]:
%sql SELECT COUNT(*) FROM staging_events;

 * postgresql://dwhuser:***@dwhcluster.cfio1pzc2pmx.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8056,)]

In [14]:
%%sql 

SELECT * FROM staging_events
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cfio1pzc2pmx.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(None, 'Logged In', 'Adler', 'M', '0', 'Barrera', None, 'free', 'New York-Newark-Jersey City, NY-NJ-PA', 'GET', 'Home', 1540835983796.0, 248, None, 200, 1541470364796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 100),
 ('Gustavo Cerati', 'Logged In', 'Adler', 'M', '1', 'Barrera', 249.44281, 'free', 'New York-Newark-Jersey City, NY-NJ-PA', 'PUT', 'NextSong', 1540835983796.0, 248, 'Uno Entre 1000', 200, 1541470383796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 100),
 ('Limp Bizkit', 'Logged In', 'Adler', 'M', '2', 'Barrera', 270.49751, 'free', 'New York-Newark-Jersey City, NY-NJ-PA', 'PUT', 'NextSong', 1540835983796.0, 248, 'Behind Blue Eyes', 200, 1541470632796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 100),
 (None, 'Logged In', 'Samuel', 'M', '0', 'Gonzalez', None, 'free', 'Houston-The Woodlands-Sugar Land, TX', 'GET', 'Home', 1540492941796.0, 252, None, 200, 1541473967796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"', 61),
 ('Mikel Erentxun', 'Logged In', 'Samuel', 'M', '1', 'Gonzalez', 178.83383, 'free', 'Houston-The Woodlands-Sugar Land, TX', 'PUT', 'NextSong', 1540492941796.0, 252, 'Frases Mudas', 200, 1541474048796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"', 61)]

In [15]:
%sql SELECT COUNT(*) FROM staging_songs;

 * postgresql://dwhuser:***@dwhcluster.cfio1pzc2pmx.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [16]:
%%sql 

SELECT * FROM staging_songs
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cfio1pzc2pmx.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('ARXR32B1187FB57099', None, '', None, 'Gob', 209.60608, 1, 'SOFSOCN12A8C143F5D', 'Face the Ashes', 2007),
 ('ARNV5OQ1187FB531D5', None, '', None, 'Bandabardò', 138.57914, 1, 'SOBBHII12AB0184B2C', 'La mauvaise réputation', 2008),
 ('AREFNKX1187B991576', '40.714550000000003', 'NY - New York City', '-74.00712', 'Dan Zanes', 72.9073, 1, 'SOZPZUI12A8C133200', 'The Colorado Trail', 0),
 ('ARR1JFI1187B9B9C38', None, '', None, 'La Tropa F', 198.84363, 1, 'SOHRKCW12A6D4F9A17', 'Eso Si Nunca Podras', 0),
 ('ARAZP5N1187B9B4D5D', None, 'Austin, TX', None, 'Okkervil River', 359.33995, 1, 'SOUOLYL12A6D4FBD4B', 'A Favor', 2004)]

In [24]:
%sql SELECT COUNT(*) FROM songplays;

 * postgresql://dwhuser:***@dwhcluster.cfio1pzc2pmx.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(333,)]

In [25]:
%%sql 

SELECT * FROM songplays
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cfio1pzc2pmx.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(152, datetime.datetime(2018, 11, 2, 16, 35), 50, 'free', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 156, 'New Haven-Milford, CT', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (145, datetime.datetime(2018, 11, 3, 18, 19, 10), 95, 'paid', 'SOPANEB12A8C13E81E', 'ARSW5F51187FB4CFC9', 152, 'Winston-Salem, NC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"'),
 (59, datetime.datetime(2018, 11, 3, 19, 33, 39), 95, 'paid', 'SOYTFSY12A6D4FD84E', 'ARRFSMX1187FB39B03', 152, 'Winston-Salem, NC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"'),
 (35, datetime.datetime(2018, 11, 5, 1, 48), 44, 'paid', 'SOOXLKF12A6D4F594A', 'ARF5M7Q1187FB501E8', 237, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (129, datetime.datetime(2018, 11, 5, 11, 8, 56), 95, 'paid', 'SOQYHVZ12A6D4F93CF', 'ARRZUPG11F43A69EF7', 222, 'Winston-Salem, NC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"')]

In [17]:
%sql SELECT COUNT(*) FROM songs;

 * postgresql://dwhuser:***@dwhcluster.cfio1pzc2pmx.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [18]:
%%sql 

SELECT * FROM songs
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cfio1pzc2pmx.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOAAFHQ12A6D4F836E', "Ridin' Rims (Explicit Album Version)", 'AR3CQ2D1187B9B1953', 2006, 322.84689),
 ('SOAAKLA12A58A7A3CC', 'Snow Day (LP Version)', 'ARGWNT41187FB463F1', 0, 211.90485),
 ('SOAAUVF12A58A7D58C', 'Hickory Wind (Remastered LP Version)', 'AR9VCSR1187B9B879E', 1979, 243.48689),
 ('SOAAYRB12AB0184B94', 'Should I Tell You', 'ARWEFTK1257509DE19', 2009, 164.46649),
 ('SOABHSF12AB0182977', 'Perdicion', 'ARFD5AT1187FB40779', 0, 281.28608)]

In [20]:
%sql SELECT COUNT(*) FROM users;

 * postgresql://dwhuser:***@dwhcluster.cfio1pzc2pmx.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(104,)]

In [19]:
%%sql

SELECT * FROM users
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cfio1pzc2pmx.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(4, 'Alivia', 'Terrell', 'F', 'free'),
 (10, 'Sylvie', 'Cruz', 'F', 'free'),
 (11, 'Christian', 'Porter', 'F', 'free'),
 (16, 'Rylan', 'George', 'M', 'free'),
 (32, 'Lily', 'Burns', 'F', 'free')]

In [21]:
%sql SELECT COUNT(*) FROM time

 * postgresql://dwhuser:***@dwhcluster.cfio1pzc2pmx.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8023,)]

In [22]:
%%sql

SELECT * FROM time
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cfio1pzc2pmx.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 1, 20, 57, 10), 20, 1, 44, 11, 2018, 'Thursday '),
 (datetime.datetime(2018, 11, 2, 1, 30, 41), 1, 2, 44, 11, 2018, 'Friday   '),
 (datetime.datetime(2018, 11, 2, 9, 13, 37), 9, 2, 44, 11, 2018, 'Friday   '),
 (datetime.datetime(2018, 11, 2, 9, 22, 43), 9, 2, 44, 11, 2018, 'Friday   '),
 (datetime.datetime(2018, 11, 2, 9, 31), 9, 2, 44, 11, 2018, 'Friday   ')]

In [8]:
%sql SELECT COUNT(*) FROM artists

 * postgresql://dwhuser:***@dwhcluster.cfio1pzc2pmx.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(10025,)]

In [23]:
%%sql

SELECT * FROM artists
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cfio1pzc2pmx.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('AR00JIO1187B9A5A15', 'Saigon', 'Brooklyn', '40.655070000000002', '-73.948880000000003'),
 ('AR00LNI1187FB444A5', 'Bruce BecVar', '', None, None),
 ('AR026BB1187B994DC3', 'Ijahman Levi', '', None, None),
 ('AR02YGA1187B9B8AC4', 'Bersuit Vergarabat', 'Buenos Aires', '-34.608519999999999', '-58.373539999999998'),
 ('AR039B11187B9B30D0', 'John Williams', 'NEW YORK, New York', None, None)]

%%sql
SELECT DISTINCT TIMESTAMP 'epoch' + (se.ts / 1000) * INTERVAL '1 second' as start_time,
    se.user_id,
    se.level,
    ss.song_id,
    ss.artist_id,
    se.session_id,
    se.location,
    se.user_agent 
    FROM staging_events se
    INNER JOIN staging_songs ss ON (se.song = ss.title AND se.artist = ss.artist_name)
    WHERE se.page = 'NextSong' AND start_time IS NOT NULL;